.calcHeader {
   display: flex;
   justify-content: space-between;
   margin: 3px;
   /* background-color: rgba(63, 47, 152, 0.4); */
   border-radius: 10px;
   background: #F4F2FF;
   padding: 5px;
}

.calcButtons {
   display: flex;
   gap: 5px;
   height: 20px;

}

.calcTitle {
   display: flex;
   align-items: center;
   font-family: Inter;
}