.calcHeader {
   display: flex;
   justify-content: space-between;
   margin: 3px;
   border-radius: 8px;
   background-color: rgba(63, 47, 152, 0.4);
}

.calcButtons {
   display: flex;
   gap: 5px
}

.calcTitle {
   display: flex;
   align-items: center;
   font-family: Inter;
}