.historyBlockContainer {
   height: 300px;
   width: 300px;
   border: 1px solid black;
   border-radius: 10px;
   background: #D5CCFF;
}

.historyBlockTitle {
   display: flex;
   justify-content: left;
   margin-top: 10px;
   color: #2B1887;
   gap: 10px;
   padding: 5px;

}

.historyBlockList {
   height: 250px;
   width: 290px;
   overflow: scroll;
}